#mainHeader{
    font-family: Verdana,sans-serif;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    background-color: #1663C1;
}

#mainFooter{
    font-family: Verdana,sans-serif;
    color: gray;
    font-size: 10px;
    font-weight: bolder;
}

#mainMenu{

}

.ui-growl{
	position:absolute;
    top:50%;
    left:50%;
    z-index:9999;
}