<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<display-name>Spring3 MVC Application</display-name>

	<!-- LOADER OF SPRING CONTEXT -->
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>ctx-oxi-spring-resteasy-consumes-service.xml</param-value> 
		<param-value>ctx-oxi-spring-resteasy-request-mapping.xml</param-value> </context-param> -->


	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<jsp-property-group>
			<url-pattern>/**</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>

	<!-- <error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/jsp/error/not-found.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/jsp/error/uncaught-error.jsp</location>
	</error-page>
 -->


</web-app>